# Environment variable template
AI_API_TOKEN=fake-kjadskofj3w483983284093932834903
SECRET_KEY=elibrary-super-secret-key-fake-hai-bhai-mt-kar-try
AI_BASE_URL=https://mat-kar-bhai-fake-hai.userfacet.com
DATABASE_URL=sqlite:///elibrary.db